body{
  font-family: Montserrat;
}

#open-sans-condensed{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18;
}

#nunito{
  font-family: 'Nunito', sans-serif;
}

#roboto-mono{
  font-family: 'Roboto Mono', monospace;
}

#fjalla{
  font-family: 'Fjalla One', sans-serif;
}
