header{
  text-align: center;
}

nav{
  text-align: center;
  padding-bottom: 10px;
}

#about{
  column-count: 2;
}

#course-name{
  text-align: center;
  margin-top: 4;
  margin-bottom: 4;
}

#download-resume{
  text-align: center;
  padding-top: 8;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}
