$BLACK: #000000;
$RED: #b22222;
$LIGHT_PURPLE: #8892be;
$CYAN: #00FFFF;
$YELLOW: #FFFF00;
$GREEN: #7CFC00;
$PINK: #FFB6C1;

body{
  font-family: Montserrat;
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4e54c8, #8f94fb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
}


.content{
  background-color: $LIGHT_PURPLE;

}

#coursework{
  background-color: #ffffff;
}

#sample-coursework{
  background-color: $CYAN;
  display: inline-block;
}

#project1-header{
  background-color: $YELLOW;
  display: inline-block;
  text-align: left;
}

#project2-header{
  background-color: $GREEN;
  display: inline-block;
  text-align: center;
}

#project3-header{
  background-color: $PINK;
  display: inline-block;
}


/* large screen */
@media (min-width: 992px){
  #project1-box{
    text-align: left;
  }

  #project2-box{
    text-align: center;
  }

  #project3-box{
    text-align: right;
  }

}


//Below included to properly justify text
/* medium screen */
@media (min-width: 768px) and (max-width: 991px){
  #project1-box{
    text-align: left;
  }

  #project2-box{
    text-align: right;
  }

  #project3-box{
    text-align: center;
  }

}
